@model IEnumerable<ChatApp.Models.Message>

<!DOCTYPE html>
<html>
<head>
    <title>ChatApp</title>
</head>
<body>
    <table>
        @foreach (var msg in Model)
        {
            <tr>
                <td class="author">@msg.Author</td>
                <td class="text">@msg.Text</td>
                <td class="timestamp">@msg.Timestamp</td>
            </tr>
        }
    </table>
    <!-- TODO: Form for posting new messages -->
    <input id="txtAuthor" type="text" placeholder="Author">
    <input id="txtMessage" type="text" placeholder="Message">
    <input type="button" onclick="SendMessage()" value="Send">
</body>
</html>
