@model ChatApp.Models.Message

<!DOCTYPE html>
<html>
<head>
    <title>Moi</title>
</head>
<body>
    <h1>Hello from view!</h1>
    <p>@Model.Author sanoi: @Model.Text @Model.Timestamp</p>
</body>
</html>
