@model ChatApp.Controllers.ChatMessagesViewModel
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@using ChatApp.Models

<!DOCTYPE html>
<html>
<head>
    <title>ChatApp</title>
</head>
<body>
    <table>
        @foreach (Message msg in Model.OldMessages)
        {
            <tr>
                <td class="author">@msg.Author</td>
                <td class="text">@msg.Text</td>
                <td class="timestamp">@msg.Timestamp</td>
            </tr>
        }
    </table>
    <form asp-action="SendNewMessage" method="post">
        <input asp-for="NewMessage.Author"/>
        <input asp-for="NewMessage.Text"/>
        <input type="submit" value="Send"/>
    </form>
</body>
</html>
